@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Source+Sans+Pro:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar-dark {
  background-color: #887c99;
}

.carouselInicio {
  width: 100%;
}

section {
  padding: 0;
  margin: 0;
  border: 0;
}

.informacion {
  width: 100%;
  background-color: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 500px 500px 5px;
}

.hero {
  grid-column: 1/4;
  grid-row: 1/2;
}

.photo {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(/imagenes/ayelenmeneghelli.jpg);
  background-size: cover;
  position: center;
}

.texto {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-2 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-image: url(/imagenes/contacto.jpg);
  background-size: cover;
}

.formulario {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footeer {
  grid-column: 1/4;
  grid-row: 4/6;
}

.misredes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.form {
  outline: none;
  border: solid 1px #d3c7da;
  background-color: none;
  opacity: 0.5;
  width: 300px;
  border: 10px;
  width: 100%;
}

.redes {
  list-style: none;
  margin: 1rem;
  padding: 0;
  background-color: none;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul {
  display: flex;
}

li {
  list-style: none;
}

/* inspiraciones*/
.citaautor {
  font-size: 100px;
  font-family: "Lato", sans-serif;
}
.citaautor span {
  font-size: 150px;
}

.fotospolaroid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 700px);
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.polaroid1 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);
}

.polaroid2 {
  grid-column: 4/5;
  grid-row: 2/3;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
}

.polaroid3 {
  grid-column: 1/1;
  grid-row: 3/4;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);
}

.polaroid4 {
  grid-column: 3/4;
  grid-row: 4/5;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
}

.polaroid5 {
  grid-column: 2/3;
  grid-row: 6/7;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);
}

.polaroid6 {
  grid-column: 4/5;
  grid-row: 7/8;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
}

.polaroid7 {
  grid-column: 1/1;
  grid-row: 8/9;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);
}

.polaroid8 {
  grid-column: 3/4;
  grid-row: 9/10;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
}

/*  interiores*/
.interiores1 {
  display: grid;
  grid-template-columns: repeat(1fr 1fr 1fr 1fr);
  grid-template-rows: repeat(3, 326px);
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  background-color: none;
  margin: 0;
  padding: 0;
}

.it1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(/imagenes/centrocultural.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it2 {
  grid-column: 3/4;
  grid-row: 1/2;
  background-image: url(/imagenes/edificiochaca.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it3 {
  grid-column: 4/5;
  grid-row: 1/2;
  background-image: url(/imagenes/iglesia.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it4 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(/imagenes/interiorcocina.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it5 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url(/imagenes/interiorliving.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it6 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-image: url(/imagenes/posada.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it7 {
  grid-column: 4/5;
  grid-row: 3/4;
  background-image: url(/imagenes/posada.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.agrandar:hover {
  transform: scale(1.2);
}

.lasondas {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  background-image: url(/imagenes/ondas.svg);
  background-size: cover;
  background-position: center;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#887c99, #ffffff);
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=estilo.css.map */
