@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Source+Sans+Pro:ital,wght@1,600&display=swap");
/* #887c99; */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#536151, #ffffff);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.navbar-dark {
  background-color: #536151;
}

/* botones*/
.btn {
  background-color: #536151;
  border: #536151;
}

.btn-primary {
  background-color: #536151;
  border: #536151;
  border-color: #ffffff;
  text-align: center;
}

.btn:hover {
  background-color: #4e4758;
}

.btn-primary:hover {
  background-color: #4e4758;
}

/* Index*/
.inicio {
  background-color: #c2bec4;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  width: 100%;
  height: 500px;
  align-items: stretch;
}

.intro1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  text-align: center;
  width: 100%;
  font-size: 25px;
}

.intro2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.intro3 {
  display: flex;
  width: 700px;
  position: relative;
  justify-content: flex-end;
  margin-top: 0;
  text-align: justify;
  font-size: 25px;
  margin-left: 70%;
}

.botonproyecto {
  display: flex;
  margin-left: 70%;
}

.col-sm-3 {
  text-align: center;
}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 50px;
}

.manera {
  display: flex;
  justify-content: flex-start;
  padding: 50px;
  width: 100%;
  font-size: 25px;
  margin-right: 70%;
  text-transform: uppercase;
}

.footeer {
  grid-column: 1/4;
  grid-row: 4/6;
}

.misredes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.redes {
  list-style: none;
  margin: 1rem;
  padding: 0;
  background-color: none;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul {
  display: flex;
}

li {
  list-style: none;
}

/* inspiraciones*/
.citaautor {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-family: "Lato", sans-serif;
}
.citaautor span {
  font-size: 80px;
  font-weight: bold;
}

.fotospolaroid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 400px);
  grid-gap: 10px;
  width: 80%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.polaroid1 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url(../imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);
}

.polaroid2 {
  height: 100%;
  width: 100%;
  grid-column: 4/5;
  grid-row: 2/3;
  background-image: url(../imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
}

.polaroid3 {
  grid-column: 1/1;
  grid-row: 3/4;
  background-image: url(../imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);
}

.polaroid4 {
  grid-column: 3/4;
  grid-row: 4/5;
  background-image: url(../imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
}

.polaroid5 {
  grid-column: 2/3;
  grid-row: 6/7;
  background-image: url(../imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);
}

.polaroid6 {
  grid-column: 4/5;
  grid-row: 7/8;
  background-image: url(../imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
}

.polaroid7 {
  grid-column: 1/1;
  grid-row: 8/9;
  background-image: url(../imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);
}

.polaroid8 {
  grid-column: 3/4;
  grid-row: 9/10;
  background-image: url(../imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
}

/*  proyecto html*/
.interiores1 {
  display: grid;
  grid-template-columns: repeat(1fr 1fr 1fr 1fr);
  grid-template-rows: repeat(3, 326px);
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  background-color: none;
  margin: 0;
  padding: 0;
}

.it1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../imagenes/centrocultural.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it2 {
  grid-column: 3/4;
  grid-row: 1/2;
  background-image: url(../imagenes/edificiochaca.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it3 {
  grid-column: 4/5;
  grid-row: 1/2;
  background-image: url(../imagenes/iglesia.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it4 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(../imagenes/interiorcocina.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it5 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url(../imagenes/interiorliving.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it6 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-image: url(../imagenes/posada.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it7 {
  grid-column: 4/5;
  grid-row: 3/4;
  background-image: url(../imagenes/posada.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.agrandar:hover {
  transform: scale(1.2);
}

/* medias de in media */
@media (max-width: 992px) {
  .interiores1 {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
    grid-template-rows: repeat(3, 326px);
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    background-color: none;
    margin: 0;
    padding: 0;
  }

  .it1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../imagenes/centrocultural.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it2 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(../imagenes/edificiochaca.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it3 {
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url(../imagenes/iglesia.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../imagenes/interiorcocina.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it5 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../imagenes/interiorliving.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it6 {
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(../imagenes/posada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it7 {
    grid-column: 4/5;
    grid-row: 3/4;
    background-image: url(../imagenes/posada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .interiores1 {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);
    grid-template-rows: repeat(3, 326px);
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    background-color: none;
    margin: 0;
    padding: 0;
  }

  .it1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../imagenes/centrocultural.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../imagenes/edificiochaca.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../imagenes/iglesia.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it4 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../imagenes/interiorcocina.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it5 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../imagenes/interiorliving.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it6 {
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(../imagenes/posada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it7 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(../imagenes/posada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 992px) and (max-width: 570px) {
  .interiores1 {
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: repeat(5, 326px);
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    background-color: none;
    margin: 0;
    padding: 0;
  }

  .it1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../imagenes/centrocultural.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../imagenes/edificiochaca.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it3 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../imagenes/iglesia.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it4 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../imagenes/interiorcocina.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it5 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(../imagenes/interiorliving.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it6 {
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(../imagenes/posada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }

  .it7 {
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url(../imagenes/posada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }
}
/* -----  videos */
.inspovideos {
  margin: 0;
  padding: 0;
}

.videos1 {
  margin: 0;
  padding: 0;
}

.videos2 {
  margin: 0;
  padding: 0;
}

/* sobre mi htm*/
.informacion {
  width: 100%;
  background-color: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px;
}

.photo {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../imagenes/ayelenmeneghelli.jpg);
  background-size: cover;
  position: center;
}

.texto {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* contacto html*/
.informacion2 {
  width: 100%;
  background-color: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px 600px;
}

.photo-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url(../imagenes/contacto.jpg);
  background-size: cover;
}

.formulario {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formularioo {
  width: 100%;
  opacity: 0.5;
}

.ubicacion {
  grid-column: 1/2;
  width: 100%;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direccion {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/* servicios*/
.servicios-row {
  padding: 5%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box--dia1 {
  background-color: #c9dbce;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: black;
  text-align: center;
}

.box--dia2 {
  background-color: #b1c2b2;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: black;
  text-align: center;
}

.box--dia3 {
  background-color: #9caaa1;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: black;
  text-align: center;
}

.box--dia4 {
  background-color: #8c978d;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: black;
  text-align: center;
}

/*# sourceMappingURL=estilo.css.map */
