
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Source+Sans+Pro:ital,wght@1,600&display=swap');

$color0: #887c99;
$color1: #d3c7da;
$color2: #b3c7ca;
$color3: #ffffff;
$fuente1:'Source Sans Pro', sans-serif;
$fuente2: 'Lato', sans-serif;
$sombra: 10px 10px rgba( 000, 0, 0, 0.1);

*{
    margin: 0; 
    padding: 0;
    border: 0;
    font-family: $fuente1;
    font-size: 20px;

}
body{
   height: 100%;
   width: 100%;
  background-image: linear-gradient($color0 ,$color3);  
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
}
.navbar-dark{
 background-color: $color0;
}

.carouselInicio{
    width: 100%
}
.footeer {
  grid-column: 1/4;
  grid-row: 4/6;
}
.misredes{
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
margin-top: 120px;
}
.redes{
  list-style: none;
  margin: 1rem;
  padding: 0;
  background-color: none;
  animation-name: aparecer;
animation-duration: 2s;
animation-delay: 5s;
animation-direction: alternate;
animation-iteration-count: infinite;
 }
@keyframes aparecer{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}
ul{
   display: flex;
}
li{
    list-style: none;
}
.fraseincio{
   font-size: 40px;
   text-align: center;

   span{
        font-size: 50px;
        font-family: $fuente2;
}
}
.col-sm-3{
   text-align: center;
}
.container1{
display: flex;
flex-direction: column; 
justify-content: center; 
align-items: center; 
border: 50px;
}

/* inspiraciones*/
@import"_estiloinspiraciones";
/* sobre mi htm*/
.informacion{
   width: 100%; 
   background-color: none;
   display: grid;
   padding: 0; 
   margin: 0; 
   grid-gap: 10px;
   grid-template-columns: 1fr 1fr;  
   grid-template-rows: 700px;
 }
 .photo { 
   grid-column: 1/2;
   grid-row: 1/2;
    background-image: url(../imagenes/ayelenmeneghelli.jpg);
    background-size: cover;
    position: center;
 } 
 .texto {
   grid-column: 2/3;
   grid-row: 1/2;
 display: flex;
 flex-direction: column;
 justify-content: center;
 }
 

/* contacto html*/
.informacion2{
   width: 100%; 
   background-color: none;
   display: grid;
   padding: 0; 
   margin: 0; 
   grid-gap: 10px;
   grid-template-columns: 1fr 1fr;  
   grid-template-rows: 600px 600px ;
 }
.photo-2 {  
   grid-column: 2/3;
   grid-row: 1/2;
   background-image: url(../imagenes/contacto.jpg);
   background-size: cover;
}
.formulario { 
   grid-column: 1/2;
   grid-row: 1/2;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
.form{
    width: 100%;
    opacity: .5;

 }
 .ubicacion{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .direccion{
   grid-column: 2/3;
   grid-row: 2/3;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 30px;
 }
 .footeer {
   grid-column: 1/4;
   grid-row: 4;
 }
 /* servicios*/
 .btn{
    background-color: $color0;
    border: $color0;
 }
 .btn-primary{
   background-color: $color0;
   border: $color0;
}
 .btn:hover{
   background-color: #4e4758 ;
}
.btn-primary:hover{
   background-color: #4e4758 ;
}
.servicios-row{
   padding: 5%;
   margin: 0;
   display: flex;
   flex-direction: row; 
   justify-content: space-around;
   align-items: center;
}
$dias: (
   dia1:#d5c9db,
   dia2:#bcb1c2,
   dia3:#a59caa,
   dia4:#938c97,
);
@each $dia, $colorss in $dias {
   .box--#{$dia} {
      background-color: $colorss;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 30px;
      color: black;
      text-align: center;
   }
}
