@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Source+Sans+Pro:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar-dark {
  background-color: #887c99;
}

.carouselInicio {
  width: 100%;
}

section {
  padding: 0;
  margin: 0;
  border: 0;
}

.informacion {
  width: 100%;
  background-color: none;
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50px 500px 500px 5px;
      grid-template-rows: 50px 500px 500px 5px;
}

.hero {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.photo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url(/imagenes/ayelenmeneghelli.jpg);
  background-size: cover;
  position: center;
}

.texto {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url(/imagenes/contacto.jpg);
  background-size: cover;
}

.formulario {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footeer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
}

.misredes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}

.form {
  outline: none;
  border: solid 1px #d3c7da;
  background-color: none;
  opacity: .5;
  width: 300px;
  border: 10px;
  width: 100%;
}

.redes {
  list-style: none;
  margin: 1rem;
  padding: 0;
  background-color: none;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
}

/* inspiraciones*/
.citaautor {
  font-size: 100px;
  font-family: "Lato", sans-serif;
}

.citaautor span {
  font-size: 150px;
}

.fotospolaroid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: (700px)[9];
      grid-template-rows: repeat(9, 700px);
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.polaroid1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.polaroid2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.polaroid3 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.polaroid4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.polaroid5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.polaroid6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.polaroid7 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.polaroid8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  background-image: url(/imagenes/polaroid.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

/*  interiores*/
.interiores1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 1fr 1fr)[1fr];
      grid-template-columns: repeat(1fr 1fr 1fr 1fr);
  -ms-grid-rows: (326px)[3];
      grid-template-rows: repeat(3, 326px);
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  background-color: none;
  margin: 0;
  padding: 0;
}

.it1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url(/imagenes/centrocultural.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url(/imagenes/edificiochaca.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url(/imagenes/iglesia.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url(/imagenes/interiorcocina.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url(/imagenes/interiorliving.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url(/imagenes/posada.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.it7 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url(/imagenes/posada.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.agrandar:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.lasondas {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 100%;
  background-image: url(/imagenes/ondas.svg);
  background-size: cover;
  background-position: center;
}

body {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#887c99), to(#ffffff));
  background-image: linear-gradient(#887c99, #ffffff);
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=estilo.css.map */